

			html {
				background: url(../images/patterntest.png);	
				background-color: #f1f3d2;
				

			}


			
			body {
				font-family: 'Raleway', sans-serif;
				width: 960px;
				margin-right: auto;
				margin-left: auto;
				margin-top: 30px;
				background-color: #e1f2c4;
				text-align: center;
				border:#feffdd dotted 3px;
				
				
			}

			

			a {
				text-decoration: none;
		      	color: #000;
			    font-size: 18px;

			}
			a:hover{
				background-color: #feffdd;
				font-weight: bold;
			}

			nav{
				padding: 10px;
				
			}

			article {

				padding: 0px 100px 0px 100px;
			}


			h1 {
				font-family: raleway , extra-bold;
				text-transform: uppercase;
				font-size: 40px;
				color: #000;
				font-weight:bold;
			}

			h2 {
				font-size: 16px;
				color: #666;		
			}

			p {
				font-size: 20px;
				color: #000;
				padding-bottom: 50px;
			}
			
			img{
				
				
				max-width:900px;
				height: auto;
				
				
				
			}
			object{
				max-width:900px;
				
				object-fit: cover;
			}
			